<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iZ3DStereoWallpaperCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iZ3DStereoWallpaperCreator.Properties.Settings>
            <setting name="OrigWallpaper" serializeAs="String">
                <value />
            </setting>
            <setting name="JPSFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OrigStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FillColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
        </iZ3DStereoWallpaperCreator.Properties.Settings>
    </userSettings>
</configuration>